.App {
  text-align: center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 5px;
}

.App:link{
  text-decoration: none;
}
.App:visited{
  text-decoration: none;
}

.About{
  color: #ffffff;
  overflow-y: scroll;
  text-align: left;
  text-indent: 20vh;
  padding-left: 15vh;
  padding-right: 15vh;
  padding-bottom: 10vh;
  font-family: 'Times New Roman', Times, serif;
}

.Project{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgb(49, 49, 49);
  padding: 2vh;
  border-style: double;
  border-color: rgb(255, 255, 255);
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.Project-link{
  color: #ffffff;
  text-decoration: none;
  border: rgb(168, 240, 236);
  border-style: double;
  border-right: none;
  border-top: none;
  margin: 2vh;
  padding: 1vh;
  background-color: rgb(90, 90, 90);
}

.Project-link:hover{
  color:rgb(49, 49, 49);
  background-color: rgb(168, 240, 236);
}

.Project-list{
  overflow-y: scroll;
  margin: 0px;
}

.Header{
  padding: 0px;
  text-decoration: none;
}

.Links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: #ffffff;
  border-bottom: #ffffff;
  border-style: double;
  font-size: 20px;
  margin-top: 3vh;
  padding: 0px;
}

.GhLink{
  text-decoration: none;
  color: #ffffff;
  align-self: center;
  font-size: 34px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  letter-spacing: 5px;
}

.GhLink:hover{
  color:rgb(168, 240, 236);
}

.App-clear{
  border: none;
  background: none;
  padding-left: 10px;
  padding-right: 80px;
}

.App-clear:hover{
  filter: invert(90%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-links {
  color: rgb(6%, 94%, 98%);
  font-family: Arial, Helvetica, sans-serif;
}

.App-links:hover{
  color: white;
}

.dothing-outer{
  display: inline;
}

.dothing{
  margin:0px;
  color:white;
  text-decoration: none;
}

.dothing:link{
  text-decoration: none;
}

.dothing:hover{
  color:rgb(168, 240, 236);
}

.App-contacts{
  width: 100%;
  padding: 1vh;
  font-size: 24px;
  border-top: #ffffff;
  border-top-style: double;
  color:  rgb(6%, 94%, 98%);
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

.App-lambda{
  height: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

